* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 02px;
}

h1 {
    color:white;
    margin: 0px;
    padding: 0px;
    border: none;
}

h2 {
    color:white;
    border-radius: 20px;
}

h3 {
    color:white;
    border-radius: 20px;
}

body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: rgb(64, 64, 91);
    color: white;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    padding: 10px;
    text-align: center;
}

.texto-principal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(140, 140, 169);
    color: black;
}

#titulo_principal {
    color: darkblue;
    font-size: 36px;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    align-items: center;
    gap: 100px;
    background-color:rgb(140, 140, 169);
    color: white;
    padding: 20px 30px;
    font-size: 20px;
    border-radius: 20px;
}

.menu-toggle {
    display: flex;
    align-items: center;
    gap: 90px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sobre-conteudo {
    display: flex;
    gap: 20px;
}

.in-line {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(187, 187, 190);
    background-color:rgb(140, 140, 169);
    font-weight: bold;
    border-radius: 20px;
}

.block {
    display: block;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(187, 187, 190);
    background-color:rgb(140, 140, 169);
    font-weight: bold;
    border-radius: 20px;
}
